<br />
<div class = "center hero-unit">
  <%= form_for(@product) do |f| %>
    <%= f.label "Mark it 'Pro'" %>
    <%= f.check_box :pro %><br /><br />
    <%= f.submit "Mark", class: 'btn btn-large btn-primary' %>
  <% end %>
  <h1>Shop name: <%= @product.shop_name %> </h1>
  <h1><%= @product.name %></h1>
  <% if @product.pro %>
    <h2> PRO </h2>
  <% end %>
  
  <h3><%= @product.description %></h3>

  <%= image_tag @product.product_photo_url(:medium) %>

</div>
