<br>
<div class = "center hero-unit">

  <% if current_user.type == "Admin" %>
    <%= form_for(@product) do |f| %>
      <%= f.label "Mark it 'Pro'" %>
      <%= f.check_box :pro %>
      <%= f.submit "Mark" %>
    <% end %>
  <% end %>
  
  <% if current_user.type != "Guest" %>
    <h1>Shop name: <%= @product.shop_name %> </h1>
  <% end %>

  <h1><%= @product.name %></h1>
  <% if @product.pro %>
    <h2> PRO </h2>
  <% end %>
  
  <h3><%= @product.description %></h3>

  <%= image_tag @product.product_photo_url(:medium) %>
  <br /> <br>
  <%= link_to "Buy", buy_product_path(product_id: @product.id), class: "btn btn-large btn-primary" %>
</div>
